<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
  
        <!--
        ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
        ++  Pipeline to add new Prefab from selected rendering when button is clicked
        ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
        -->
        <pipelines>
            <!-- Result Item is the new Prefab -->
            <createPrefab>
                <processor type="Community.Foundation.Prefabs.Pipelines.CreatePrefab.GetRenderings, Community.Foundation.Prefabs" />
                <processor type="Community.Foundation.Prefabs.Pipelines.CreatePrefab.GetDevice, Community.Foundation.Prefabs" />
                <processor type="Community.Foundation.Prefabs.Pipelines.CreatePrefab.GetLayout, Community.Foundation.Prefabs" />
                <processor type="Community.Foundation.Prefabs.Pipelines.CreatePrefab.GetPlaceholder, Community.Foundation.Prefabs" />
                <processor type="Community.Foundation.Prefabs.Pipelines.CreatePrefab.MapPlaceholders, Community.Foundation.Prefabs" />
                <processor type="Community.Foundation.Prefabs.Pipelines.CreatePrefab.GetPrefabLocation, Community.Foundation.Prefabs" />
                <processor type="Community.Foundation.Prefabs.Pipelines.CreatePrefab.AddPrefab, Community.Foundation.Prefabs" />
                <!-- This processor, CopyPageDataAndMapNestedReferences, extends base processor, CopyPageData, to (after copy) fix all field values with IDs pointing to sub items; updating IDs to copied sub items.
                     This is required for SXA composite renderings, and potentially your custom solutions. If you do not need this coverage, revert back to the base processor below. -->
                <processor type="Community.Foundation.Prefabs.Pipelines.CreatePrefab.CopyPageDataAndMapNestedReferences, Community.Foundation.Prefabs" resolve="true" />
                <!--<processor type="Community.Foundation.Prefabs.Pipelines.CreatePrefab.CopyPageData, Community.Foundation.Prefabs" />-->
                <processor type="Community.Foundation.Prefabs.Pipelines.CreatePrefab.FillPrefab, Community.Foundation.Prefabs" />
                <processor type="Community.Foundation.Prefabs.Pipelines.CreatePrefab.GetProxyLocation, Community.Foundation.Prefabs" />
                <processor type="Community.Foundation.Prefabs.Pipelines.CreatePrefab.AddProxyItem, Community.Foundation.Prefabs" />
            </createPrefab>
        </pipelines>
               
    </sitecore>
</configuration>