<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        
        <!--
        ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
        ++  STEP 1: Lookup prefab definion item using standard sitecore rendering definition item 
        ++                 Add/Remove/Modify processors as desired
        ++                 ie. include site specific prefab definition areas
        ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
        -->
        <pipelines>
            <prefabsGetItem>
                <processor type="Community.Foundation.Prefabs.Pipelines.PrefabsGetItem.GetFromGlobalData, Community.Foundation.Prefabs" />
            </prefabsGetItem>
        </pipelines>
                 
        <!--
        ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
        ++  STEP 2: Given prefab definion item get list of rendering objects to add
        ++                 Add/Remove/Modify processors as desired
        ++                 ie. vary placeholder mapping by layout
        ++          NOTE: placeholder property of rendering objects are expected to be resolved for the intended destination placeholder path
        ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
        -->   
        <pipelines>
            <prefabGetRenderings>
                <processor type="Community.Foundation.Prefabs.Pipelines.PrefabGetRenderings.GetFromDefaultPlaceholder, Community.Foundation.Prefabs" />
            </prefabGetRenderings>
        </pipelines>
            
        <!--
        ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
        ++  STEP 3: Given list of rendering objects to add, apply to args.Device layout definition
        ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
        -->
        <pipelines>
            <prefabApplyRenderings>
                <!-- This processor, CopyPageDataAndMapNestedReferences, extends base processor, CopyPageData, to (after copy) fix all field values with IDs pointing to sub items; updating IDs to copied sub items.
                     This is required for SXA composite renderings, and potentially your custom solutions. If you do not need this coverage, revert back to the base processor below. -->
                <processor type="Community.Foundation.Prefabs.Pipelines.PrefabApplyRenderings.CopyPageDataAndMapNestedReferences, Community.Foundation.Prefabs" resolve="true" />
                    <!--<processor type="Community.Foundation.Prefabs.Pipelines.PrefabApplyRenderings.CopyPageData, Community.Foundation.Prefabs" />-->
                <!-- This processor handles rendering parameters that are site specific, duplicated between sites. You probably don't need it you are not using SXA -->
                <processor type="Community.Foundation.Prefabs.Pipelines.PrefabApplyRenderings.MapSiteRenderingParams, Community.Foundation.Prefabs" resolve="true" />
                <!-- Finally, apply the renderings to the target page -->
                <processor type="Community.Foundation.Prefabs.Pipelines.PrefabApplyRenderings.AddRenderings, Community.Foundation.Prefabs" />
            </prefabApplyRenderings>
        </pipelines>


        <!--
        ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
        ++  Patch getPlaceholderRenderings pipeline so Prefabs always show as options
        ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
        -->
        <pipelines>
            <getPlaceholderRenderings>
                <processor patch:after="*[@type='Sitecore.Pipelines.GetPlaceholderRenderings.GetPredefinedRenderings, Sitecore.Kernel']"
                           type="Community.Foundation.Prefabs.Pipelines.GetPlaceholderRenderings.GetAllPrefabs, Community.Foundation.Prefabs" />
            </getPlaceholderRenderings>
        </pipelines>
    </sitecore>
</configuration>