<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>

        <!-- 
        =========================================================================================================
        ==  Review and edit settings as desired
        =========================================================================================================
        -->
        <settings>
            <!-- 
                Layout to use for prefab presentation storage. 
                **>> It is best to use your common layout to support page editor on prefab items (to include css and js)
                For SXA, you can use the SXA MVC Layout: "{BCFC7537-EFF4-434C-96F5-BF4F55FD175B}"
                Default: (blank)
                    When blank defaults to SXA MVC layout, "{BCFC7537-EFF4-434C-96F5-BF4F55FD175B}", when Prefabs.Sxa.SupportEnabled is true
                    And defaults to Prefab Default layout "{4CB35760-E9DC-416A-BFF0-5D0060A80BF3}" when Prefabs.Sxa.SupportEnabled is false (or missing)
                -->
            <setting name="Prefabs.LayoutId" value="" />
            
            <!-- 
                Device will alway match source(on create) and target(on inject)
                -->
            
            <!-- 
                Placeholder name to store prefab renderings... could be anything, but preferrably one in the layout above to support page editor on prefab items
                Default: "main"
                -->
            <setting name="Prefabs.Placeholder" value="main" />
            
            <!-- 
                Root path where prefab items live. 
                Prefab items store the presentation details.
                Default: "/sitecore/system/Modules/Prefabs"
                -->
            <setting name="Prefabs.GlobalPath" value="/sitecore/system/Modules/Prefabs" />
            
            <!-- 
                Root path under Renderings to store proxy items. 
                Proxy items show as options on the Insert Rendering dialogs. 
                This setting is where they are auto-created. They can live elsewhere too.
                Default: "/sitecore/layout/Renderings/Foundation/Prefabs"
                -->
            <setting name="Prefabs.RenderingsPath" value="/sitecore/layout/Renderings/Foundation/Prefabs" />
            
        </settings>
        
        <!-- 
        =========================================================================================================
        ==  Register Main Services (which call the custom pipelines
        ==    :> IPrefabService    - This service is called to inject the selected prefab to the selected location.
        ==    :> ISmartCopyService - This service has methods to resolve use cases of internal links when copying nested data structures
        =========================================================================================================
        -->
        <services>
            <configurator type="Community.Foundation.Prefabs.IoC.Configurator, Community.Foundation.Prefabs" />
        </services> 
        
        <!-- 
        =========================================================================================================
        ==  Support Experience Editor 
        =========================================================================================================
        -->
        <pipelines>
            <executePageEditorAction>
                <processor resolve="true" patch:before="processor[@type='Sitecore.Mvc.ExperienceEditor.Pipelines.ExecutePageEditorAction.TryGetMvcRendering, Sitecore.Mvc.ExperienceEditor']"
                           type="Community.Foundation.Prefabs.Pipelines.ExecutePageEditorAction.InsertPrefab, Community.Foundation.Prefabs" />                
            </executePageEditorAction>
        </pipelines>
        <commands>
            <command name="prefab:make" type="Community.Foundation.Prefabs.Commands.PrefabMake, Community.Foundation.Prefabs" />
        </commands>
    </sitecore>
</configuration>