[Oo]bj/
src/**/[Bb]in/
specs/**/[Bb]in/
.nuget/
Deploy/
_ReSharper.*
packages/
artifacts/
*.user
*.cache
*.suo
*.userprefs
*DS_Store
*.sln.ide
.sonar
vars.user.cmd
/.vs
/target
/node_modules
temp/
*.ncrunchproject
*.ncrunchsolution
.vscode
nCrunchTemp*.*
optimized-min.yml
$tf/