@using Sitecore.Mvc
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Prefab Preview</title>
    </head>
    <body>
        <!-- 
            This layout was included so install would be functional out of the box.
            However, configure your own layout for better Experience Editor support (your CSS and JS).
            See Foundation.Prefabs.config, <setting name="Prefabs.LayoutId" /> and <setting name="Prefabs.Placeholder" /> 
        -->
        <div>
            @Html.Sitecore().Placeholder("main")
        </div>
    </body>
</html>